/* Google Fonts */


/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Raleway Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* Shared fonts */
.font1{
   font-size: 2rem;   /* 32px */
   font-weight: bold; 
}
.font2{
    font-size: 1.25rem;/* 20px */
    font-weight: bold;
}
.font3{
    font-size: 1.25rem;/* 20px */
    font-weight:Medium;
}
.font4{
    font-size: 3.5rem;
    font-weight: bold;
}
.font5{
font-size: 1.25rem;/* 20px */
font-weight: normal;
}
.font6{
    font-size: 1.25rem;
    font-weight: bold;
}
.font7{
    /* 46px */
    font-size: 2.875rem;
    font-weight: bold;
}
.font8{
    /* 24.52px */
    font-size: 1.5325rem;
    font-weight: bold;
}
.font9{
    /* 15.09px */
    font-size: 0.943125rem;
    font-weight: medium;

}
.font10{
    /* 15.09px */
    font-size: 0.943125rem;
    font-weight: bold;

}
.font11{
       /* 15.34px */
    font-size: 0.95875rem;
    font-weight: bold;

}
.font12{
    /* 15.34px */
    font-size: 0.95875rem;
    font-weight: medium;

}
.font13{
    font-size:1.5rem;
    font-weight: bold;

}
.font14{
    /* 42.14px */
    font-size:2.63375rem;
    font-weight: bold;

}
.font15{
    /* 26px */
    font-size: 1.625rem;
    font-weight: bold;
}
.font16{
    font-size: 1.25;/* 20px */
    font-weight:600px ;
}
/* Shared colors */


.black{
    color:rgba(17, 17, 17, 1) ;
}
.another-black{
    color: rgba(0, 0, 0, 1);
}
.another-one-black{
    color: rgba(32, 32, 32, 1);
}
.orange{
    color:rgba(254, 163, 1, 1) ;
}
.another-orange{
    color: rgba(240, 170, 0, 1);
}
.sky-blue{
    color:rgba(1, 172, 253, 1) ;
}
.deep-sky-blue{
    color: rgba(5, 212, 223, 1);

}
.another-sky-blue{
    color:rgba(100, 200, 255, 1) ;
}
.purple{
    color: rgba(93, 88, 239, 1);
}
.another-purple{
    color: rgba(135, 0, 255, 1);
}
.white{
    color: rgba(255, 255, 255, 1);
}
.grey{
    color: rgba(128, 128, 128, 1);
}
.another-grey{
    color: rgba(102, 102, 102, 1);
}
/* button design */
.button1{
   background-color:rgba(254, 163, 1, 1) ; 
   border: 1px solid rgba(254, 163, 1, 1);
   border-radius: 12px;
   color:#FFFFFF ;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 10px 60.5px;
   width: 197px;
   height: 50px;
   margin-right: 21.5px;
}
.button1:hover{
    cursor: pointer;
    background-color:rgba(254, 161, 1, 0.795) ; 
}
.button2{
    background-color:rgba(17, 17, 17, 1)  ;
    color: white;
    border: 1px solid rgba(17, 17, 17, 1);
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 47px;
    
}
.button2:hover{
    background-color:rgba(17, 17, 17, 0.74)  ;
    cursor: pointer;
}
.button3{
    color:#FFFFFF ;
    background-color:rgba(60, 216, 232, 1) ;
    border: none;
    border-radius: 47.93px;
    padding: 15px 20px;
    position: absolute;
    bottom: -10px;
    left: 20px;

}
.button3:hover{
    background-color:rgba(60, 215, 232, 0.747) ;
    cursor: pointer;
}
.button4{
color: #FFFFFF;
background-color:rgba(149, 178, 38, 1) ;
border: none;
border-radius:47.93px ;
padding: 10px 18px;
position: absolute;
bottom: -10px;
left: 20px;

}
.button4:hover{
    background-color:rgba(150, 178, 38, 0.753) ;
    cursor: pointer;
}
.button5{
color: #FFFFFF;
background-color:rgba(93, 88, 240, 1) ;
border: none;
border-radius:47.93px ;
padding: 10px 18px;
padding: 10px 18px;
position: absolute;
bottom: -10px;
left: 20px;

} 
.button5:hover{
    background-color:rgba(93, 88, 240, 0.719) ;
    cursor: pointer;
}
 .button6{
  color: #FFFFFF;
  background-color:rgb(150, 178, 38) ;
  border: none;
  border-radius:47.93px ;
  padding: 10px 18px;  
  padding: 10px 18px;

  position: absolute;
  bottom: -10px;
  left: 20px;
 }
 .button6:hover{
    background-color:rgba(150, 178, 38, 0.733) ;
    cursor: pointer;
}
.button7{

 color: #FFFFFF;
  background-color: rgba(0, 0, 0, 1); ;
  border: none;
  border-radius:12px ;
  padding: 10px 61px; 
  padding: 10px 18px;
  margin-bottom: 30px;

  
}.button7:hover{
   
  background-color: rgba(0, 0, 0, 0.74); ;
  cursor: pointer;
}

/* shared style */
.display-flex{
    display: flex;
}

.put-button-inside-the-img{
position: relative;
}


.box-shadow{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.text-shadow{
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25); 
}






/* Header starts from here */
/* navbar */
.list{
    list-style: none;
    margin-right:32px ;
}
li >a{
    text-decoration: none;
}
.nav-header-section{
    max-width:1440px ;
    margin: 0 auto;
}

.navbar{
    
    align-items: center;
  }


.nav-items{
 margin: 16px 186px;
}
.nav-logo{
    width: 62px;
    height: 62px;
    margin-right:11px ;
    margin-left: 21.5px;
}
/* Empowering kids section  */

.empower-student-header-section{
    max-width: 1158.61px;
    margin: 0 auto;
}
.hero-kids{
margin-top: 26px;
width: 461.61px;
height: 575px;

}
.empower-header{
    margin: 122px 50px 122px 0px;
}
.student-empower-description{
    padding-top: 24px;
    padding-bottom: 24px;
}




/* Standard curriculum section start from here */
.Curriculum-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
.different-schools{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1160px;
    margin: 0 auto;
    gap: 28.29px;
    margin-bottom: 80px;
}
.kinder-scl{
    background-color:rgba(222, 245, 255, 1) ;
    background-image: linear-gradient(#DEF5FF,#FFFFFF);
    border: none;
    border-radius: 18.86px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
   

}
.elementary-scl{
    background-color:#FFF4DC ;
    background-image: linear-gradient(#FFF4DC,#FFFFFF);
    border: none;
    border-radius: 18.86px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
    
}
.middle-scl{
    background-color:#F2E8FF ;
    background-image: linear-gradient(#F2E8FF,#FFFFFF);
    border: none;
    border-radius: 18.86px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
    

}

/*inside of different school shared padding */
.scl-padding{
    padding:33.48px 40.67px  33.95px 40.88px;
}
.img-padding{
    width:136.76px ;
    height: 136.76px;
    padding: 52.82px 115.5px 32.07px 115.54px;

    
}
.bg-image{
    background-image: url(../assets/bg.png), linear-gradient(#FFFFFF,rgba(254, 161, 1, 0.3));
}
.bg-color-for-card{
    background-color: #FFFFFF;
}

.arrow{
    background-color:rgba(254, 163, 1, 1) ; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding:17px 22.13 19px 22.13px;
}
.arrow:hover{
    background-color:rgba(254, 161, 1, 0.479) ; 
    transition: translateX(50px);
    transform:scale( 1 ) rotate(45deg);
    cursor: pointer;
}
.ball{
    display:flex;
   justify-content: center;
   gap: 10px;
   margin-top: 80px;
   margin-bottom: 60px;
}
/* Our stories section starts from here */

.different-schools{
    background-color: transparent;
    background-image: none;

    
}
.stories-title{
    text-align: center;
}
.card-design{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:19.17px;
    margin-bottom: 80px;
    width: 1160px;
    height: 630.52px;
 
}
.kid-stories{
    max-width: 1140px;
    margin: 0 auto;
}
.square-card{
    border: none;
    border-radius:16px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:19.17px;
   
}
.card1{
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 540px;
    height: 337px;
    
}

.card1 img{
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}
.card2 img{
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    

}
.card3 img{
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
   
   

}
.card4 img{
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}
.card5 img{
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}
.card-box1{
    text-align: flex-start;
    border: none;
    border-radius:16px ;
  width: 540.27px;
  height: 630.52px;
}
.card2 {
    text-align: center;
    border: none;
    border-radius: 16px;
    width: 290.69;
    height: 301.61;
 

}
.card3 {
    text-align: center;
    border: none;
    border-radius: 16px;
    width: 290.69;
    height: 301.61;
}
.card4 {
    text-align: center;
    border: none;
    border-radius: 16px;
    width: 290.69;
    height: 301.61;
}
.card5 {
    text-align: center;
    border: none;
    border-radius: 16px;
    width: 290.69;
    height: 301.61;
}
.padding-left-for-box1{
    padding-left: 38.35px;
}
.margin-left-for-box1{
    margin-left: 38.35px;
}
.card-title{
    
    margin:33.55px 38.35px 47.93px 38.35px;
}
.card-description{
    padding-bottom:34.52 ;
}
.squarebox-width-height{
    width: 290.69px;
    height: 301.61px;
}
.card-title{
  text-align: center;
  padding-bottom:28.5px ;
}
.btn-7{
    display: flex;
   justify-content: center;
   margin-top: 80px;
   margin-bottom: 60px;
}
.bg-color-section2{

}






/* footer section starts from here */
.footer-heading-section{
    display: flex;
    flex-direction: column;
       align-items: baseline;
       
}
.bg-color{
    width:1439px ;
    height: 519px;
    margin: 0 auto;
    background-color: rgba(1, 172, 253, 1);
}
.footer-description{
    margin-left: 140px;
}
.list{
    list-style: none;
    margin-right:32px ;
}
li >a{
    text-decoration: none;
}
.footer-nav{
    list-style: none;
    margin-right:32px ;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
    
}
li >a{
   
    text-decoration: none;
}
.footer-design{
align-items: center;
flex-direction: column;
gap: 10.15px;

}
.about-scl{
    text-align: center;
    margin-top:122px;
    margin-bottom:32px ;
}

.footer-description{
    margin-top:0px;
    margin-bottom: 179px;
}
.logo-img{
    width: 82.9px;
    height: 81.65px;
    margin-left: 140px;
    margin-right: 10.7px;
    margin-top: 123px;
    filter: grayscale(100%);
    background-color: #FFFFFF;
   /* fill: hue-rotate(45deg) saturate(2) brightness(1.2); */
  
    
}
.footer-title{
margin-top: 123px;

}



.social-icon{
    justify-content: center;
    align-items: center;
   
}
.social-icon-footer{
    margin-top: 127px;
    margin-bottom:294px ;
    margin-left:142.91px ;
    margin-right:228.09px ;
}
.icons{
    margin-right:10.15px ;
}
/* hamburger menu hide */
.hamburger-menu{
display: none;
}

/* Responsive for mobile device */
@media screen and (max-width:576px) {

    body {
        overflow-x: hidden;
      }
      /* * {
        margin: 0;
        padding: 0;
       
      } */

 .nav-items,.button1,.school,.mobile-device,.ball,.card1,.card-box1{
   display: none;

}
.navbar{
    justify-content: space-between;
    padding: 0px;
    border-bottom: 1px solid rgba(254, 163, 1, 1);
}
.hamburger-menu{
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: block;
    margin-left:290px;
    width: 30px;
    height: 30px;
   display: flex;
}
.nav-logo{
    width: 46px;
    height: 46px;
    margin-bottom: 12px;
}
.empower-student-header-section{
  
 
    /* width: 357px;
    height: 725px; */
    flex-direction: column-reverse;
    flex-wrap: wrap;
    

}

.hero-kids img{
    
    width:335.58px;
    height:413px;
    margin: 8px 26px;
    margin-left:40px;
    
    }
    .hero-kids{
        margin: 0 auto;
    }
    .student-empower-title{
        font-size:2rem ;
        font-weight: bold;
        margin-left: 20px;
    }
    .student-empower-description{
        font-size: 0.875rem;
        font-weight: medium;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-right:25px ;
        margin-left: 25px;
    }
    .button2{
        margin-left:110px ;
        width: 135px;
        height: 48px;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        padding: 6px 24px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }





    .empower-header{
        margin:15px auto ;
        align-items: center;
        width: 357px 120px;
  
    }
.card2{
    width:173px ;
    height: 179px;
    margin-bottom: 20px;
}
.card3{
    width:173px ;
    height: 179px;
}
.card4{
    width:173px ;
    height: 179px;
}
.card5{

    margin-top:0px auto;
    width:173px ;
    height: 179px;
}

.card2 img{
    width: 173px;
    height: 108px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    

}
.card3 img{
    width: 173px;
    height: 108px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
   
   

}
.card4 img{
    width: 173px;
    height: 108px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}
.card5 img{
    width: 173px;
    height: 108px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}
.button4{
    color: #FFFFFF;
    background-color:rgba(149, 178, 38, 1) ;
    border: none;
    border-radius:28.54px ;
    padding: 5px 10px;
    position: absolute;
    bottom: -10px;
    left: 20px;
    font-size:0.5625rem;
    font-weight: medium;
    }
    .button4:hover{
        background-color:rgba(150, 178, 38, 0.753) ;
        cursor: pointer;
    }
    .button5{
        color: #FFFFFF;
        background-color:rgb(93, 88, 240) ;
        border: none;
        border-radius:28.54px ;
        padding: 5px 10px;
        font-size:0.5625rem;
        font-weight: medium;
        position: absolute;
        bottom: -10px;
        left: 20px;
    } 
    .button5:hover{
        background-color:rgba(93, 88, 240, 0.719) ;
        cursor: pointer;
    }
     .button6{
      color: #FFFFFF;
      background-color:rgb(150, 178, 38) ;
      border: none;
      border-radius:28.54px ;
      padding: 5px 10px;
      font-size:0.5625rem;
      font-weight: medium;
      position: absolute;
      bottom: -10px;
      left: 20px;
     }
     .button6:hover{
        background-color:rgba(150, 178, 38, 0.733) ;
        cursor: pointer;
    }
    .button7{
    text-align: center;
     color: #FFFFFF;
      background-color: rgba(0, 0, 0, 1); ;
      border: none;
      border-radius:12px ;
      padding: 10px 61px; 
      padding: 10px 18px;
      margin-bottom: 30px;
    

      
    }.button7:hover{
       
      background-color: rgba(0, 0, 0, 0.74); ;
      cursor: pointer;
    }
    .btn-7{
        align-items: center;
        justify-items: center;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 60px;
        margin: 0 auto;
        margin-right:50px ;
   
    }
    .card-title{
        font-size: 0.5625rem;
    }
.card-title{
    margin-top: 15px;
    margin-bottom:20px ;
}
.square-card{
    border: none;
    border-radius:16px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}



    /* schools */
  
    /* footer */
    .footer-heading-section{
        display: flex;
        flex-direction: column;
           align-items: baseline;
    }

    .footer-nav{
        list-style: none;
       
        flex-direction: row;
       
        margin-bottom: 20px;
        
    
     }
     .footer-heading-section{
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
           
    }
    .bg-color{
        width:1439px ;
        height: 519px;
        margin: 0 auto;
        background-color: rgba(1, 172, 253, 1);
    }
    .footer-description{
        margin-left: 16px;
    }
    .list{
        list-style: none;
        margin-right:32px ;
    }
    li >a{
        text-decoration: none;
    }

    li >a{
       
        text-decoration: none;
    }
    .footer-design{
        align-items: start;
        flex-direction: column;
        gap: 10.15px;
        
        }
    .about-scl{
        padding: 0px;
        margin-right:241px ;
        margin-left: 0px;
        margin-top:270px;
        margin-bottom:10px ;
    }
    .div-scl{
    margin-left: 0px;
    }
    
    .logo-img{
        width: 70px;
        height: 70px;
        margin-left: 16px;
        margin-right: 10.7px;
        margin-top: 70px;
        filter: grayscale(0%);
        background-color: #FFFFFF;
       /* fill: hue-rotate(45deg) saturate(2) brightness(1.2); */
      
        
    }
    .footer-title{
    font-size: 2.1875rem;
    margin-top: 60px;
    margin-bottom: 15px;
    
    }
    .footer-description{
        padding: 0px;
        margin-top:0px;
        /* margin-bottom: 179px; */
        font-size:1rem ;
    }
    
    
    .social-icon{
        justify-content: flex-start;
        align-items: flex-start;
       
    }
    .social-icon-footer{
        margin-top: 127px;
        margin-bottom:294px ;
        margin-left:142.91px ;
        margin-right:228.09px ;
    }
    .icons{
        margin-right:10.15px ;
    }
 .nav-itemss{
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0px;
 }

 /* dk */
 .div-scl{

    padding: 0px;
 }

/* width and height */
 .footer-section{
    padding: 0px;
    width:390px ;
    height: 640px;
 }

.card-design{
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin: 0 auto;
    width:400px ;
    height: 570px;
    gap: 15px;
    margin-left: 20px;
}
.body{
    margin: 0px;
    padding: 0px;
}
.nav-itemss ul{
    padding: 0;
}
.nav-items li{
    margin: 10px 0;
}
/* Standard curriculum section start from here */
.Curriculum-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    margin: 0 auto;
}
.different-schools{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 1160px;
    margin: 0 auto;
    gap: 28.29px;
    margin-bottom: 80px;
}

.kinder-scl{
    background-color:rgba(222, 245, 255, 1) ;
    background-image: linear-gradient(#DEF5FF,#FFFFFF);
    border: none;
    border-radius: 12.77px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   text-align: center;
   width: 370px;
   height: 320px;
   margin: 16px auto;
   padding: 0px;

} 
.elementary-scl{
    background-color:#FFF4DC ;
    background-image: linear-gradient(#FFF4DC,#FFFFFF);
    border: none;
    border-radius: 12.77px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   text-align: center;
   width: 370px;
   height: 320px;
   margin: 16px auto;
   padding: 0px;
    
}
.middle-scl{
    background-color:#F2E8FF ;
    background-image: linear-gradient(#F2E8FF,#FFFFFF);
    border: none;
    border-radius: 12.77px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   text-align: center;
   width: 370px;
   height: 320px;
   margin: 16px auto;
   padding: 0px;
    

}

/*inside of different school shared padding */
.scl-padding{
    padding:33.48px 40.67px  33.95px 40.88px;
}
.img-padding{
    width:136.76px ;
    height: 136.76px;
    padding: 52.82px 115.5px 32.07px 115.54px;

    
}
.bg-image{
    background-image: url(../assets/bg.png), linear-gradient(#FFFFFF,rgba(254, 161, 1, 0.3));
}
.bg-color-for-card{
    background-color: #FFFFFF;
}

.img-kinder{
   width: 85px;
   height: 85px; 
   margin:0px 0px ;
   margin-top: 0px;
}
.elementary-scl-title{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0px;
}
.kinder-scl-title{
    margin-top: 0px;
    font-size: 1rem;
    font-weight: bold;
}
.middle-scl-title{
    margin-top: 0px;
    font-size: 1rem;
    font-weight: bold;
    margin:0px 0px ;
}
.elementary-scl-description{
    font-size:0.825rem ;
    font-weight: medium;
    padding: 0px;
}
 .kinder-scl-description{
    font-size:0.825rem ;
    font-weight: medium;
    padding: 0px;
 }  
 .middle-scl-description{
    font-size:0.825rem ;
    font-weight: medium;
    padding: 0px;
 }





}
